<app-header></app-header>

<div class="d-flex">

        <!-- sidebar -->
        <div id="sidebar">
            <div class="text-center text-light mt-5">
                <a routerLink="/dashboard" style="text-decoration: none; color: white;"><h3>Dashboard</h3></a>
               <a routerLink="/employee" style="text-decoration: none; color: white;"> <h3 class="mt-3">Employees</h3></a>
            </div>
         </div>

         <!-- main section -->
          <div class="container-fluid">

            <div class="container p-3">

                <div class="d-flex ">
                    <h3 id="h3">Employee List</h3>
                    <a routerLink="/add-employee" class="ms-auto">
                        <button class="btn ms-auto" style="border-color: brown; color: brown;"><i class="fa-solid fa-user-plus me-2" ></i>Add</button>
                    </a>
                </div>

                <h5 class="mt-2">{{time | date:'short'}}</h5>

                <div class="d-flex mt-5 px-md-5">

                    <div class="d-flex">
                        <input type="text" class="form-control" placeholder="Username" [(ngModel)]="searchkey" name="skey">

                    </div>

                       <!-- dropdown button -->
                        <!-- <div class="dropdown ms-3"> -->
                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: brown; color: white;">
                              Sort
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" (click)="sortById()">By ID</a></li>
                              <li><a class="dropdown-item" (click)="sortByName()">By Name</a></li>
                            </ul>
                          <!-- </div> -->

                    <button class="btn btn-success ms-auto"(click)="generatePdf()">Export<i class="fa-solid fa-file-export ms-2"></i></button>

                </div>

            </div>

            <div class="row p-3 mt-5">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <table class="shadow table table-bordered">
                        <thead>
                            <tr>
                                <th class="bg-secondary text-light p-3 text-center">UserID</th>
                                <th class="bg-secondary text-light p-3 text-center">Username</th>
                                <th class="bg-secondary text-light p-3 text-center">Email</th>
                                <th class="bg-secondary text-light p-3 text-center">Status</th>
                                <th class="bg-secondary text-light p-3 text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let employee of allEmployee | search : searchkey | paginate: { itemsPerPage: 5, currentPage: p }" [hidden]="employee.id==1">
                                <td>{{employee.id}}</td>
                                <td>{{employee.empUsername}}</td>
                                <td>{{employee.empEmail}}</td>
                                <td class="text-center">
                                <button [ngClass]="employee.empStatus=='1' ? 'btn btn-success':'btn btn-warning'">{{employee.empStatus=='1'?'Active':'Inactive'}}</button></td>
                                <td class="d-flex justify-content-evenly"><a routerLink="/edit/{{employee.id}}"><button class="btn btn-outline-primary"><i class="fa-solid fa-pencil"></i></button></a>
                                <button class="btn btn-outline-danger" (click)="removeEmployee(employee.id)"><i class="fa-solid fa-trash"></i></button></td>
                            </tr>
                        </tbody>
                    </table>

                    <pagination-controls (pageChange)="p = $event" class="my-pagination"></pagination-controls>

                </div>
                <div class="col-md-1"></div>
            </div>

          </div>

</div>