<app-header></app-header>

<div class="row w-100 mt-5">
    <div class="col-md-1"></div>
    <div class="col-md-5 d-flex align-items-center justify-content-center">
        <img src="https://santarosacity.gov.ph/assets/img/img-otp.png" alt="no image" class="w-100">
    </div>
    <div class="col-md-5 d-flex align-items-center justify-content-center">
        <form class="shadow p-4 w-100 ms-5">
            <h3 class="text-center text-light mb-3">Login Form</h3>
            <div class="mb-3">
                <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="mb-3">
                <input type="text" placeholder="Password" class="form-control">
            </div>
            <div class="mb-3">
                <button class="btn w-100">Login</button>
            </div>
        </form>
    </div>
    <div class="col-md-1"></div>
</div>