
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 d-flex justify-content-center align-items-center flex-column">
        <img src="https://images.template.net/80340/Isometric-Error-Notification-Illustration--JPG--1.jpg" alt="no img" class="w-100">
        <h1 class="mt-5 text-primary">Looking like you're Lost</h1>
        <button class="btn btn-primary mt-4"><i class="fa-solid fa-backward me-2"></i>Back to Home</button>
    </div>
    <div class="col-md-2"></div>
</div>w-100